[Unit]
Description=Plex Media Server container
Wants=network-online.target

[Service]
Restart=always
ExecStart=/usr/bin/podman start -a plex
ExecStop=/usr/bin/podman stop -t 10 plex

[Install]
WantedBy=multi-user.target
