[Container]
Image=ghcr.io/hotio/plex
ContainerName=plex
AddDevice=/dev/dri:/dev/dri
Environment=PUID=${MEDIA_PUID}
Environment=PGID=${MEDIA_PGID}
Environment=TZ=${TZ}
PublishPort=32400:32400
Volume=/var/lib/plex:/config:Z
Volume=/var/lib/plex/Transcode:/transcode:Z
Volume=/data:/data:z
AutoUpdate=registry

[Service]
Restart=always

[Install]
WantedBy=multi-user.target default.target
