[Unit]
After=gluetun.service
Requires=gluetun.service

[Container]
Image=ghcr.io/hotio/prowlarr
ContainerName=prowlarr
Environment=TZ=${TZ}
Environment=PUID=${MEDIA_PUID}
Environment=PGID=${MEDIA_PGID}
Network=container:gluetun
Volume=${CONFIG_DIR}/prowlarr:/config:Z
AutoUpdate=registry

[Service]
Restart=always

[Install]
WantedBy=multi-user.target default.target
