[Unit]
After=gluetun.service
Requires=gluetun.service

[Container]
Image=ghcr.io/hotio/qbittorrent:latest
ContainerName=qbittorrent
Environment=PUID=${MEDIA_PUID}
Environment=PGID=${MEDIA_PGID}
Environment=TZ=${TZ}
Environment=WEBUI_PORTS=8111/tcp
Network=container:gluetun
Volume=${CONFIG_DIR}/qbittorrent:/config:Z
Volume=${DATA_DIR}:/data:z
AutoUpdate=registry

[Service]
Restart=always

[Install]
WantedBy=multi-user.target default.target
