[Unit]
Description=Radarr container
Wants=network-online.target

[Service]
Restart=always
ExecStart=/usr/bin/podman start -a radarr
ExecStop=/usr/bin/podman stop -t 10 radarr

[Install]
WantedBy=multi-user.target
