[Unit]
Description=Sonarr container
Wants=network-online.target

[Service]
Restart=always
ExecStart=/usr/bin/podman start -a sonarr
ExecStop=/usr/bin/podman stop -t 10 sonarr

[Install]
WantedBy=multi-user.target
